# Standardized Git Attributes for Scholarly Archiving

# Handle line endings automatically for files detected as text
# and perform LF normalization on checkin.
* text=auto eol=lf

# Explicitly mark source files as text
*.py text
*.md text
*.txt text

# Mark binary files
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.wav binary
*.TTF binary

# Academic/Scholarly classification
*.md linguist-documentation
